@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Paleta de Colores*/
:root {
  --color-primario: #2d336b;
  --color-secundario: #a9b5df;
  --color-terciario: #7886c7;
  --color-coloradicional1: #fff2f2;
  --color-coloradicional2: #eee;
  --color-negro: #000000;
  --color-blanco: #ffffff;
  --color-gris: #777777;
  --color-input: #eee;
  --color-gris2: #888;
  --color-gris3: #333;
  --color-oferta: #ff5454;
  --color-cancelado: #14be2e;
  --color-pendiente: #eff22a;
  --color-enproceso: #ed8637;
  --color-entregado: #007aff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*main*/
main {
  margin-top: 4rem;
  margin-top: 4rem;
  margin-left: 4rem;
  padding: 2rem;
  transition: padding-left 0.5s ease;
  align-items: center;
  text-align: center;
}

main .banner {
  width: 70%;
  height: auto;
}
main .platillos {
  width: 50%;
  height: auto;
}
main .titulo {
  font-size: 25px;
  font-weight: bold;
  color: var(--color-terciario);
}
main .subtitulo {
  font-size: 22px;
  font-weight: 500;
  color: var(--color-terciario);
}
main main.menu-toggle {
  margin-left: 18.75rem;
}
/*REPORTESSSSSSSSSSSSSSSSSSSSSSSSSSSS*/
h1 {
  text-align: center;
  color: var(--color-primario);
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.containers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.chart {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--color-blanco);
  box-shadow: 0 0 16px var(--color-terciario);
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 300px;
}
